<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @mac.address %>
</p>

<p>
  <b>Description:</b>
  <%= @mac.description %>
</p>

<p>
  <b>Name:</b>
  <%= @mac.name %>
</p>

<p>
  <b>Owner:</b>
  <%= @mac.owner %>
</p>


<%= link_to 'Edit', edit_mac_path(@mac) %> |
<%= link_to 'Back', macs_path %>
