<%= link_to "Network", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
	<%= link_to "Devices", devices_path %>
    </li>
    <li>
	<%= link_to "IPs", ips_path %>
    </li>
    <li>
	<%= link_to "MACs", macs_path %>
    </li>
    <li>
	<%= link_to "Routers", routers_path %>
    </li>  
  <% end %> 
</ul>  
<ul class="nav pull-right">	  
  <% if user_signed_in? %>
	<% unless Rails.env.production? %>  
    <li>
    <%= link_to 'User Profile', edit_user_registration_path %>
    </li>
	<% end %>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    <% end %>		
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>	
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>  
	<% unless Rails.env.production? %>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
	<% end %>
  <% end %>
</ul>
