<%= form_for(@ip) do |f| %>
  <% if @ip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ip.errors.count, "error") %> prohibited this ip from being saved:</h2>

      <ul>
      <% @ip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :address_type %><br />
    <%= f.text_field :address_type %>
  </div>  
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
